html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 1280px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    background: url(../img/photo_2024-09-11_15-51-41\ \(1\)\(1\)\(1\)\(1\)\(1\).png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.header-container {

    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.header-logo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header-logo-title {
    font-size: 2.5em;
    color: rgb(1, 110, 206);
}

.header-logo-subtitle {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0;
}

.header-nav-container {
    width: 30%;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.menu-item {
    list-style-type: none;
}

.now {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item-link {
    color: rgb(1, 110, 206);
    font-size: 1.3em;
}

.menu-line {
    width: 100%;
    height: 5px;
    border-radius: 12%;
    background-color: rgb(34, 51, 120);
    margin: 0;
}

.header-info-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.header-img {
    width: 30%;
}

.info-content {
    width: 60%;
}

.info-heading {
    color: rgb(1, 110, 206);
    font-size: 500%;
}

.info-subheading {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}

main {
    background-color: rgb(15, 23, 53);

}

.albums-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(47, 68, 153);
    font-size: 1.1em;

}

.album-signatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    color: rgb(255, 255, 255);
}

.album-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    background-color: rgb(0, 94, 177);
    color: rgb(255, 255, 255)
}

.album-info:hover{
    background-color: rgb(0, 136, 255);
    transition: all 0.3s ease-in;
}

.album-info:hover .album-btn{
    background-color: rgb(0, 136, 255);
    transition: all 0.3s ease-in;
}

.album{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.track-signatures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    color: rgb(255, 255, 255)
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
    background-color: rgb(1, 110, 206);
    color: rgb(255, 255, 255)
}

.track:hover {
    background-color: rgb(0, 136, 255);
    transition: all 0.3s ease-in;
}

.track:hover .install-btn{
    background-color: rgb(0, 136, 255);
    transition: all 0.3s ease-in;
}

.album-number {
    min-width: 4%;
    text-align: center;
}

.album-logo {
    width: 5%;

}

.album-name {
    min-width: 31%;
    padding-left: 5px;
}

.album-author {
    min-width: 29.6%;

}

.number-of-tracks {
    min-width: 20%;
}

.album-button{
    min-width: 5%;
}
.album-btn{
    width: 3em;
    height: 3em;
    padding: 0;
    background-color: rgb(0, 94, 177);
    border: none;
}
.rotate{
    transform: rotate(180deg);
}

.album-btn-img{
    width: 100%;
    transition: transform 1s ease;
}




.album-time {
    min-width: 5%;
    text-align: center;
}

.track-number {
    min-width: 4%;
    text-align: center;
}

.track-logo {
    width: 5%;
}

.track-name {
    min-width: 31%;
    padding-left: 5px;
}

.track-author {
    min-width: 29.6%;
}

.track-album {
    min-width: 20%;
}

.track-time {
    min-width: 5%;
    text-align: center;
}

.install-button {
    min-width: 5%;
}

.install-btn {
    width: 3em;
    height: 3em;
    background-color: rgb(1, 110, 206);
    padding: 0;
    border: solid 0.2em rgb(0, 0, 0);
    border-radius: 100%;
}

.track:hover .install-btn:hover {
    background-color:rgb(135, 199, 255);
    transition: all 0.3s ease-in;
}

.install-btn-img {
    width: 100%;
}

footer {
    background-color: black;
    min-width: 1280px;

}

.contacts-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.contacts-container div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.inst-link-img {
    height: 3em;
}

.yandex-link-img {
    height: 3em;
}

.spotify-link-img {
    height: 3em;
}

.gmail-link-img {
    height: 3em;
}