html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-width: 1280px;
}

.header{
    width: 100%;
}

.header-container{
    
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header-logo-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header-logo-subtitle{
    margin: 0;
}

.header-nav-container{
    width: 30%;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.menu-item{
    list-style-type: none;
}

.header-info-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.albums-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.album-signatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
}

.album-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
}

.track-signatures{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
}

.track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
}

.album-number{
    min-width: 4%;
}

.album-logo{
    width: 5%;
}

.album-name{
    min-width: 41%;
}

.album-author{
    min-width: 30%;
}

.number-of-tracks{
    min-width: 15%;
}

.album-time{
    min-width: 5%;
}

.track-number{
    min-width: 4%;
}

.track-logo{
    width: 5%;
}

.track-name{
    min-width: 31%;
}

.track-author{
    min-width: 30%;
}

.track-album{
    min-width: 20%;
}

.track-time{
    min-width: 5%
}

.install-button{
    min-width: 5%;
}